language: java
jdk:
  - oraclejdk8
services:
  - docker
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/
env:
  global:
  - COMMIT=${TRAVIS_COMMIT::8}
install: /bin/true
script:
- ./gradlew clean ciBuild
deploy:
  provider: heroku
  api_key:
    secure: UMAIfJ95lRYBGDkIKmuT09MPtmlw3+nzt7rX9kUT23dlf6GpGqaTy2OvVnYehQVqt32U5+IdrRgSD/swiahUcVW/njWoUmITlAbgoJ40zv2ipwIjkzEAiowIpNJYGpRSXrOedk2zbWJQuo54W6x4IT/NG5k2Qz6EunWhszKiNRIWkMFsZcKNLKgg7CY6Fm0GU5CulDNbHmzIuL7CDXcSZb7iGcx8Q73kkS7wRBL2aNDMpxG2Zj9veJWxA18LPD4Tf95owRW95rV2w3OheyB4K1ZpJsl4TmTlRzICngs9QcFRPgcY865RxLvCo9gWn3UwQymEDealgAHBVFGgK5/SsZcziss7U2rw+kHA1MawOZkVXvi9LuG19VuFlltCqz7I0G4qmKffIJprJR3KVTUz9TIJk8ckv+kfSYVbtGcigUDP+RpX7ULyonQhjjHW51xEqtOvuihOodckzlzy6H13n8oRltEZelb4A+rGuNyPXWUMqYkdnl/dvvYdWelFZiNEHLFjWqUz8C5NelzWhHyTqdTE0XPfT478h+i/aw+bjLuA35sv0YDROF922DXrXJmr7veiAxbjevQHyPQjbMymzgESW65q3yyCWWZzt/3RsfD33ghWW/CPv7poGhOW09aa92lHhoAmc44meiNfkO5WJTo6G8Mo7VfWdXDwpLjJnUM=
  app: ct-payone-integration-staging
  on:
    repo: commercetools/commercetools-payone-integration
after_deploy:
- ./gradlew --continue --info :functionaltests:cleanTest :functionaltests:testSpec publishGhPages || travis_terminate 1
- ./travis-build.sh || travis_terminate 1
