<configuration>
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <providers>
                <timestamp/>
                <loggerName/>
                <logLevel>
                    <fieldName>severity</fieldName>
                </logLevel>
                <message/>
                <stackHash/>
                <stackTrace>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>30</maxDepthPerThrowable>
                        <maxLength>2048</maxLength>
                        <shortenedClassNameLength>20</shortenedClassNameLength>
                        <rootCauseFirst>true</rootCauseFirst>
                    </throwableConverter>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <appender name="JSON-STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <appender-ref ref="JSON" />
    </appender>

    <appender name="JSON-STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <appender-ref ref="JSON" />
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="JSON-STDOUT" />
        <appender-ref ref="JSON-STDERR" />
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNCSTDOUT" />
    </root>

    <!-- skip info logs for unmapped routes -->
    <logger name="spark.http.matching.MatcherFilter" level="WARN"/>

</configuration>


