<configuration>
    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />
    <appender name="CLOUD" class="com.google.cloud.logging.logback.LoggingAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <resourceType>k8s_container</resourceType>
        <enhancer>com.commercetools.logging.logback.enhancers.PayoneLoggingEnhancer</enhancer>
        <flushLevel>WARN</flushLevel>
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CLOUD" />
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNCSTDOUT" />
    </root>

    <!-- skip info logs for unmapped routes -->
    <logger name="spark.http.matching.MatcherFilter" level="WARN"/>

</configuration>
